.login-background {
    height: 100%;
    background: linear-gradient(90deg, rgb(29, 161, 242) 50%, #FFF 50%);
}

.welcome_background {
    height: 100%;
}

.login-crow {
    img {
        width: 30%;
        float: left;
    }
}

.welcome {
    color: rgb(29, 161, 242);
    font-size: 25px;
    float: right;

}

.login-logo {
    img {
    width: 10px;
    }
}

.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    font-size: 40px;
    text-align: center;
    font-family: helvetica;
    color: color: rgb(29, 161, 242);
    margin: 0px;
    padding: 0px;
}
